.Navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
	color: whitesmoke;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;

	& h1 {
		background-image: linear-gradient(90deg, red, yellow);
		/* background-image: url("https://unsplash.com/fr/photos/une-personne-debout-au-sommet-dun-rocher-sous-un-ciel-rempli-detoiles-ihIKOg_lHgI"); */
		/* background-position: center; */
		background-clip: text;
		color: transparent;
	}
	& a {
		color: white;
	}
	& li {
		transition: translate 200ms;
	}
	& li:hover {
		translate: 0 -5px;
	}
	& a.active {
		color: red;
	}
	& ul {
		display: flex;
		gap: 1rem;
		list-style: none;
	}
}
